<div class="aside-content">
    <div class="brand">
        <a class="title" href="<%- url_for("/"); %>"><%- config.title; %></a>
        <p class="subtitle"><%= config.subtitle; %></p>
    </div>

    <div class="aside-menus-wrapper">
        <%- partial("_partial/menus.ejs") %>
    </div>

    <% if(is_post()) { %>
        <!-- 文章内容页面下，不再显示站点概览，而是显示TOC -->
        <div class="aside-post-toc">
            <div class="toc-title">
                Table of Contents
            </div>
            <div class="aside-toc-list-content">
                <%- toc(page.content, { max_depth: 3 }); %>
            </div>
        </div>
    <% } else { %>
        <!-- 非文章内容页面，显示站点概览 -->
        <div class="site-overview">
            <img class="avatar" src="<%- theme.avatar?.url %>" alt="avatar" />
            <p class="author-name"><%- config.author %></p>
            <% if (theme['site-state']) { %>
                <%
                    const posts = site.posts;
                    const tags = site.tags;
                %>
                <div class="site-state">
                    <div class="state-item">
                        <a class="count" href="/archives/"><%- posts.length %></a>
                        <p class="name">posts</p>
                    </div>
                    <div class="state-item">
                        <a class="count" href="/tags/"><%- tags.length %></a>
                        <p class="name">tags</p>
                    </div>
                </div>
            <% } %>
            <% if(theme['social']) { %>
                <div class="social">
                    <% for (item in theme['social']) {
                        const [url, icon] = (theme['social'][item] || '').split('||').map(e => e.trim());
                    %>
                    <div class="social-item">
                        <i class="icon <%- icon %>"></i>
                        <a class="name" href="<%- url_for(url) %>"><%- item %></a>
                    </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    <% } %>

</div>
<script>

</script>