<!DOCTYPE html>
<html lang="zh, en">
<head>
    <title><%- config?.title; %></title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
          name="viewport">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- theme?.favicon?.medium; %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- theme?.favicon?.small; %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%- theme?.favicon?.apple_touch_icon; %>">
    <%-
    css([
        "lib/font-awesome-4.7.0/css/font-awesome.min.css",
        "css/theme-color/default.css",
        "css/base.css",
        "css/layout.css",
        "css/header.css",
        "css/post-list.css"
    ]);
    %>
    <% if(is_post()) { %>
        <%-
            css([
                "css/code-style/default.css",
                "css/post.css",
            ]);
        %>
    <% } %>
    <% if (path === "tags/index.html") { %>
        <!-- /tags/index.html 路由需要特殊处理 -->
        <%- css(["css/tag-cloud.css"]); %>
    <% } %>
    <% if (path === "about/index.html") { %>
        <!-- /tags/index.html 路由需要特殊处理 -->
        <%- css(["css/about.css"]); %>
    <% } %>
</head>
<body>
<div id="main">
    <header class="header">
        <%- partial("_partial/header.ejs"); %>
    </header>
    <div class="content">
        <div class="center">
            <%- body; %>
        </div>
    </div>
    <footer class="footer">
        <%- partial("_partial/footer.ejs") %>
    </footer>
</div>
<%- js("js/path-change.js"); %>
</body>
</html>
