<div class="nav-content">
    <div class="nav-header">
        <i class="fa fa-bars menu-icon-btn"></i>
        <div class="nav-brand">
            <a class="title" href="<%- url_for("/"); %>"><%- config.title; %></a>
            <p class="subtitle"><%- config.subtitle; %></p>
        </div>
        <% if(is_post()) { %>
            <i class="fa fa-list-ol toc-icon-btn"></i>
        <% } else { %>
            <i class="fa fa-list-ol" style="visibility: hidden"></i>
        <% } %>
    </div>
    <div class="nav-menus-wrapper">
        <%- partial("_partial/menus.ejs"); %>
    </div>
    <div class="nav-toc-wrapper">
        <div class="nav-toc-list-content">
            <%- toc(page.content, { max_depth: 3 }); %>
        </div>
    </div>
</div>

<script>

  function listenOnClick(btnCls, currDropdownCls, allDropdownClsList) {
    const btn = document.querySelector(btnCls);
    if (!btn) {
      return;
    }
    btn.onclick = () => {
      const currEle = document.querySelector(currDropdownCls);
      if (!currEle) {
        console.warn(`DOM node with class "${currDropdownCls}" is not found.`);
        return;
      }
      const currEleIsShow = currEle.classList.contains('show');
      // 其他一定隐藏
      allDropdownClsList.filter(cls => cls !== currDropdownCls).forEach(cls => {
        const _ele = document.querySelector(cls);
        _ele?.classList.remove('show');
      })
      // 根据先前是否显隐来控制
      if (currEleIsShow) {
        currEle.classList.remove('show');
      } else {
        currEle.classList.add('show');
      }
    }
  }

  listenOnClick('.menu-icon-btn', '.nav-menus-wrapper', ['.nav-menus-wrapper', '.nav-toc-wrapper'])
  listenOnClick('.toc-icon-btn', '.nav-toc-wrapper', ['.nav-menus-wrapper', '.nav-toc-wrapper'])
</script>